* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Segoe UI,
    sans-serif;
}

html {
  scroll-padding-top: 90px; /* offset navbar */
}

body {
  background: #020617;
  color: #f1f5f9;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(2, 6, 23, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  z-index: 1000;
}

section {
  min-height: 70vh; /* sebelumnya 100vh */
  padding: 90px 10% 60px; /* lebih pendek */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link {
  transition: color 0.3s ease;
}

.hero {
  min-height: 100vh;
  padding-top: 80px; /* kompensasi navbar */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}

.profile-img {
  width: 220px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}

.title {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.skills-grid,
.projects-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.skill,
.project {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background: #38bdf8;
  color: black;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
}
